:root {
  --elastic-out: linear(
    0,
    0.2178 2.1%,
    1.1144 8.49%,
    1.2959 10.7%,
    1.3463 11.81%,
    1.3705 12.94%,
    1.3726,
    1.3643 14.48%,
    1.3151 16.2%,
    1.0317 21.81%,
    0.941 24.01%,
    0.8912 25.91%,
    0.8694 27.84%,
    0.8698 29.21%,
    0.8824 30.71%,
    1.0122 38.33%,
    1.0357,
    1.046 42.71%,
    1.0416 45.7%,
    0.9961 53.26%,
    0.9839 57.54%,
    0.9853 60.71%,
    1.0012 68.14%,
    1.0056 72.24%,
    0.9981 86.66%,
    1
  );
}

.input {
  position: relative;
  width: 100%;
  padding: 0 !important;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: rgba(var(--background));

  &:focus-within {
    border-color: #999;
    border-width: 2px;
  }

  & input,
  & textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 0.7rem 0.5rem;
    background: transparent;
    border-color: transparent;
  }

  & textarea {
    margin-top: 0.7rem;
    padding-block: 0;
    padding-top: 0.1rem;
  }

  &.thousands-separate input {
    color: transparent;
  }

  &.thousands-separate input + textarea {
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    width: 100%;
    height: fit-content;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 0.7rem 0.5rem;
    background: transparent;
    color: inherit;
    border-color: transparent;
    resize: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  &.thousands-separate input + textarea::-webkit-scrollbar {
    display: none;
  }

  & label {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    background-color: transparent;
    translate: 0 -50%;
    transition: all 0.1s ease;
    pointer-events: none;
    color: #80868b;
    line-height: 1rem;
  }

  & textarea + label {
    top: 1.5rem;
  }

  & input:not(:placeholder-shown) + label,
  & textarea:not(:placeholder-shown) + label {
    padding-inline: 0.5rem;
    top: 0;
    translate: 0 -50%;
    color: #80868b;
    font-size: 0.9rem;
    scroll-padding-top: 5rem;
  }

  &:focus-within label {
    padding-inline: 0.5rem;
    top: 0;
    translate: 0 -50%;
    color: #80868b;
    font-size: 0.9rem;
  }

  &:focus-within label::before,
  & input:not(:placeholder-shown) + label::before,
  & textarea:not(:placeholder-shown) + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(var(--background));
    translate: 0 -75%;
    z-index: -1;
  }

  & input:disabled,
  & textarea:disabled {
    color: #80868b;
  }

  &.input-loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    aspect-ratio: 1/1;
    margin: auto;
    border: 3px solid transparent;
    border-top-color: #ccc;
    border-radius: 50%;
    translate: 50% 50%;
    background-color: inherit;
    animation: loading-spinner 1s ease infinite;
  }

  &:hover {
    border-color: theme("colors.green.500");
  }

  &:hover label {
    color: theme("colors.green.400") !important;
  }
}

@keyframes loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/* Resume */
.resume-container :where(.summary, .skills, .experience) {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.resume-container h1 {
  font-size: 2.1rem;
  color: #383737;
}

.resume-container h2 {
  margin-bottom: 1rem;
  border-bottom: 4px solid black;
  color: rgb(54, 54, 54);
  font-size: 1.5rem;
  font-weight: bold;
}

.resume-container h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
