@import url("./themes.css");
@import url("./custom.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  overflow: auto;
}

body {
  width: 100dvw;
  height: 100dvh;
  background: var(--bg-950);
  color: var(--text-100);
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-transition {
  opacity: 0;
  background: black;
  filter: blur(12px);
}
