@import url("./themes.css");
@import url("./custom.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@supports (scrollbar-color: auto) {
  *,
  *::before,
  *::after {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-900) var(--bg-400);
  }
}

@supports selector(::-webkit-scrollbar) {
  *::-webkit-scrollbar {
    width: 9px;
    background: var(--bg-600);
  }
  *::-webkit-scrollbar-thumb {
    border: 1px solid var(--bg-600);
    /* border-radius: 7px; */
    background: var(--bg-900);
  }
}

html {
  overflow: auto;
  scrollbar-gutter: stable;
}

body {
  max-width: 100dvw;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-block: 1rem;
  padding-left: calc((100vw - 100%) + 1rem);
  padding-right: 1rem;
  background: var(--bg-950);
  color: var(--text-100);
  font-size: clamp(0.7rem + 0.5vw, 1.5rem);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-transition {
  opacity: 0;
  background: black;
  filter: blur(12px);
}

.header {
  display: grid;
  grid-template-areas:
    "logo theme"
    "navbar navbar";
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  @media (min-width: 625px) {
    grid-template-areas: "logo navbar theme";
  }
}
